ENV_NAME=ai4realnet_small
ENV_LOCATION=C:\Users\
AGENT_NAME=curriculum
ASSETS_DIR=assets
ARTIFACTS_DIR=artifacts
CURRICULUM_ITERATIONS=3
CURRICULUM_JOBS=1
ROLLOUT_EPISODES=50
ENN_EPOCHS=100
ENN_ANNEAL_EPOCHS=10
ENN_BATCH_SIZE=512
ENN_LR=1e-3
ENN_VAL_FRAC=0.1
EXAMPLE_N_STEPS=5
SEED=0
